h1.defaultHeader, h2.defaultHeader {
    font-weight: normal;
}


h1.defaultHeader {
    font-family: Verdana;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

h2.defaultHeader {
    font-family: Verdana;
    font-size: 20px;
    color: #000000;
    text-align: center;
}



h1.chatRoomHeader,
h2.chatRoomHeader {
    margin-top: 12px;
    font-family: Verdana;
    font-size: 24px;
    color: #1B1F50;
    text-align: 'center';
}
