.textBoxContainer,
.sendMessageTextarea {
    background: #D8D8D8;
    border: 1px solid #979797;
    height: 31px;
    margin-top: 6px;
    overflow: hidden;
}

.textBoxContainer input[type="text"],
.textBoxContainer input[type="password"],
.sendMessageTextarea textarea {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
}

.sendMessageTextarea {
    padding-top: 8px;
    height: 63px;
    box-sizing: border-box;
}
